body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
}

.btn1 {
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
  box-shadow: 0 4px 8px 0 #00fcc5, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.active-tab {
  font-weight: bold;
}

.active1 {
  font-weight: bold;
  color: #00fcc5;
}


.nav ul {
  display: table;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 10px;
}


.nav ul#horizontal li {
  display: inline;
  padding-right: 100px;
  cursor: pointer;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

hr { 
  height: 2px;
  background-color: #00b5d6;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.user {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.user-info {
  margin: 10px;
}

.score {
  margin: 10px;
  padding-left: 400px;
}

.option {
  margin: 10px;
  padding-left: 200px;
}

.score > span:first-child {
  font-weight: bold;
}

.arrow {
  font-size: 50px;
  color: #697784;
  padding-left: 600px;
}

.small-arrow {
  font-size: 30px;
}

.user:hover {
  box-shadow: 0 4px 8px 0 #00b5d6, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hacky but less typing in the video */
.user-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.user-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.user-info > div > div {
  color: #969696;
  font-size: 15px;
}
.user-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.user-icons {
  display: flex;
  align-items: center;
}
.user-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.user-icon {
  font-size: 27px;
  color: #697784;
}
.user-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 10px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

